@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #f285ff;
	background-image: linear-gradient(61deg, #f285ff 0%, #ff0004 100%);

	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	cursor: pointer;
}
.container {
	position: relative;
	height: 90vh;
	width: clamp(300px, 50%, 350px);
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	padding: 2rem;

	@media only screen and (max-width: 768px) {
		padding: 2rem 1rem;
	}
	&__close {
		font-weight: 400;
		position: absolute;
		top: 7%;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		font-size: 0.8rem;
		color: rgba(133, 133, 133, 1);
		border-radius: 50%;
		background: #fff;
		left: -3%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.5px solid rgba(133, 133, 133, 0.5);
		transition: 0.3s;
		z-index: 100;
		&:hover {
			background: rgb(233, 233, 233);
			transform: rotate(90deg);
		}
	}
	&__head {
		display: flex;
		margin-bottom: 1.5rem;
		button {
			color: #333;
			background: #fff;
			outline: none;
			border: 0.1px solid rgba(133, 133, 133, 0.5);
			font-weight: bold;
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			transition: 0.3s;
			&:hover {
				background: rgb(252, 247, 247);
			}
		}
		&-left {
			flex: 1;
		}

		&-right {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			gap: 0.8rem;
			button {
				padding: 0.5rem 0.8rem !important;
			}
		}
	}
	.header {
		margin-bottom: 0.8rem;
	}

	.write__comment {
		width: 100%;
		height: 13%;
		resize: none;
		outline: none;
		background: #f3f3f5;
		border: none;
		border-radius: 0.5rem;
		padding: 0.6rem 0.8rem;
		margin-bottom: 0.8rem;
	}

	.filter__section {
		width: 80%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.8rem;
		button {
			padding: 0.4rem 0.6rem;
			background: transparent;
			outline: none;
			border: none;
			color: rgb(85, 85, 85);
			border-radius: 5px;
			transition: 0.3s;
			&.active,
			&:hover {
				font-weight: 700;
				background: #fff5f9;
				color: #ea4c89;
			}
		}
		@media only screen and(max-width:768px) {
			width: 100%;
		}
	}
	.main__comment-section {
		height: 63%;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.comment__section {
		display: grid;
		grid-template-columns: 15% 80% 5%;
		margin-bottom: 1rem;

		&-left {
			position: relative;
			height: 50px;
			height: 100%;
			img {
				height: 35px;
				width: 35px;
				border-radius: 50%;
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				height: calc(100% - 40px);
				left: 40%;
				border-right: 3px dotted rgba(85, 85, 85, 0.5);
			}
		}
		&-middle {
			display: flex;
			flex-direction: column;
			h2 {
				font-size: 0.8rem;
				font-weight: 600;
				margin-bottom: 0.2rem;
			}
			.name__comment {
				display: inline-block;
				font-size: 0.8rem;
				line-height: 1.2;
				color: rgba(85, 85, 85, 1);
				margin-bottom: 0.2rem;
				overflow-wrap: break-word;
			}
			.time {
				width: 50%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				button {
					outline: none;
					background: none;
					border: none;
					font-size: 0.8rem;
					padding: 0;
					margin: 0;
					color: rgba(85, 85, 85, 1);
					font-weight: bold;
				}
				.min {
					font-size: 0.75rem;
					color: rgba(85, 85, 85, 1);
				}
			}
		}
		&-right {
			color: rgba(85, 85, 85, 0.5);
			position: relative;
			button {
				align-self: end;
				background: transparent;
				border: none;
			}
			.modal__box {
				position: absolute;
				height: 5rem;
				width: 6rem;
				background: #f3f3f5;
				z-index: 1000;
				top: 20%;
				right: 0;
				border-radius: 5px;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
				transition: 0.3s;
				display: none;
				ul {
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: space-between;
					list-style: none;
					padding: 0.5rem 0.8rem;
					color: #333;
					font-size: 0.8rem;
					li {
						transition: 0.3s;
						&:hover {
							color: #ea4c89;
							transform: scale(1.2);
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
.db {
	display: block !important;
}
.reply__comment {
	margin-top: 0.5rem;
	.reply__section {
		gap: 0.4rem;
		.time {
			width: 35%;
		}
	}
}

.reply__comment-box {
	margin-top: 0.5rem !important;
	height: 2rem !important;
	display: none;
	margin-bottom: 0 !important;
}
